body {
    background-color: beige;
}
nav {
    background-color: steelblue;
}
a {
    color: beige;
    padding: 25px;
    font-size: 24px;
}
#active {
    background-color: beige ;
    color: steelblue;
}
h1 {
    text-align: center;
}
img {
    width: 300px;
}
.gray {
    background-color: #ccc;
}
