body {
    background-color: beige;
    font-size: 24px;
}
nav, footer  {
    background-color: steelblue;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
}
a {
    color: beige;
    padding: 25px;
    font-size: 24px;
}
a:hover {
    background-color: beige;
    color: steelblue;
}
.link {
    color: steelblue;
    padding:0;
}
.active {
    background-color: beige;
    color: steelblue;
}
h1 {
    text-align: center;
}
img {
    width: 70%;
    display: block;
    margin: 0 auto;
} 
p {
    width: 70%;
    margin: 25px auto;
    line-height: 1.25em;
}

footer p {
    color: beige;
    text-align: center;
}